{% extends 'base.html.twig' %}

{% block title %}Change Password{% endblock %}

{% block page_title %}
    Change Password: {{ user.username }}
{% endblock %}

{% block page_subtitle %}
    {% if subtitle is defined %}
        {{ subtitle }}
    {% endif %}
{% endblock %}

{% block page_content %}
    {{ form_start(form) }}
    <div class="row">
        {% for section in form %}
            {% if section.vars.label %}
                <div class="col-md-12">
                    {% embed '@AdminLTE/Widgets/box-widget.html.twig' %}
                        {% block box_title %}{{ section.vars.label }}{% endblock %}
                        {% block box_body %}{{ form_widget(section) }}{% endblock %}
                        {% block box_footer %}
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success">
                                    <i class="fa fa-check-square"></i> Save
                                </button>
                            </div>
                        {% endblock %}
                    {% endembed %}
                </div>
            {% else %}
                {{ form_widget(section) }}
            {% endif %}
        {% endfor %}
    </div>
    {{ form_end(form)}}
{% endblock %}
