{% extends 'base.html.twig' %}
{% import '@AdminLTE/Macros/buttons.html.twig' as btn %}

{% block page_title %}
    {% if title is defined %}
        {{ title }}
    {% else %}
        Data table
    {% endif %}
{% endblock %}

{% block page_subtitle %}
    {% if subtitle is defined %}
        {{ subtitle }}
    {% endif %}
{% endblock %}

{% block page_content %}
    {% if update_route is defined and is_granted('ROLE_ADMIN') %}
        <div class="well well-sm">
            {{ btn.link_button('Sync from API', path(update_route), 'fas fa-sync', 'success', 'xs') }}
        </div>
    {% endif %}
    <table class="table table-bordered table-striped table-condensed datatable">
        <thead>
            <tr>
                {% for property in properties %}
                    <th>{{ property }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
                <tr>
                    {% for property, name in properties %}
                        {% set field = attribute(entity, property) %}
                        {% if field is instanceof('DateTime') or field is instanceof('DateTimeImmutable') %}
                            <td>{{ field|date('Y-m-d H:i') }}</td>
                        {% elseif field is boolean %}
                            <td>{{ field|bool_icon }}</td>
                        {% else %}
                            <td>{{ field }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(document).ready( function () {
            $('.datatable').DataTable({
                "pageLength": 25
            });
        });
    </script>
{% endblock %}
