{% extends 'base.html.twig' %}
{% import '@AdminLTE/Macros/buttons.html.twig' as btn %}

{% block page_title %}
    {{ type|capitalize }} - {{ entity }}
{% endblock %}

{% block page_subtitle %}
    {% if subtitle is defined %}
        {{ subtitle }}
    {% endif %}
{% endblock %}

{% block page_content %}

    {% if app.environment == 'dev' %}
        {{ dump(entity) }}
    {% else %}
       <h2>{{ entity }}</h2>
       <code>{{ entity.id }}</code>
    {% endif %}

{% endblock %}
